# 使用规范
# ToDo

# 环境初始化默认配置
# 每个环境一组，可以设置一些需要用的环境变量
:env-home:
        # ssh和scp相关的参数配置
	--setcmd export SSH_DEFAULT_USER=homecc
        --setcmd export SSH_OPT='-p 22'
	--setcmd export SCP_OPT='-P 22'
        # 设置ssh脚本位置
        --setcmd export SSH_GETPWD=
        # 设置ssh默认密码
        --setcmd export SSH_PWD=
        # 额外的自己需要的环境参数配置
        --setcmd export WORKSPACE_DIR=/data/MyServer
        --setcmd export LOG_DIR=/data/applog/IDLE

# 环境命令配置

# 子参数，可选。mygo跳转时必须要有setip。
#	setip		ip列表
#	setenv		环境
#	setpath		路径
#	setcmd		命令
#	setsshusr	ssh用户，putfile,shellex,mygo都生效
#	setsshport	ssh端口，putfile,shellex,mygo都生效

worker
        --setip 192.168.1.2
        --setenv home
        --setsshport 22
        --setsshusr homecc
        --setpath /data
        --setcmd ls -l

k8s
        --setip 192.168.30.63 192.168.30.64 192.168.60.15
        --setip 192.168.30.130
        --setenv k8s
        --setsshport 36000
        --setsshusr moonton
        --setpath $LOG_DIR
        --setcmd ls -l

dev
        --setip 192.168.1.3

# 目录跳转相关的配置方法
toolsfunc
        --setpath[lrx] /home/ruixiangliu/tool

w
        --setpath[lrx] $WORKSPACE_DIR

w[[:graph:]]+
        --setpath[lrx] $WORKSPACE_DIR/${1#w}

log
        --setpath $LOG_DIR
        --setcmd ls -l

[[:digit:]]+
[[:digit:]]+ log
        --setpath $LOG_DIR/idle.zone.${1}/GameServer
        --setcmd ls -l

[[:digit:]]+ bin
        --setpath $BIN_DIR/idle.zone.${1}/GameServer
        --setcmd ls -l

[[:alnum:]]+Server
        --setpath $LOG_DIR/${1}
        --setcmd ls -l

[[:alnum:]]+Server bin
        --setpath $BIN_DIR/${1}
        --setcmd ls -l

GlobalArenaServer|CrossServer [[:digit:]]+
        --setpath $LOG_DIR/idle.zone.$2/${1}
        --setcmd ls -l

GlobalArenaServer|CrossServer [[:digit:]]+ bin
        --setpath $BIN_DIR/idle.zone.$2/${1}
        --setcmd ls -l

[[:alnum:]]+Server [[:digit:]]+
        --setpath $LOG_DIR/idle.region.$2/${1}
        --setcmd ls -l


[[:alnum:]]+Server [[:digit:]]+ bin
        --setpath $BIN_DIR/idle.region.$2/${1}
        --setcmd ls -l

